{{#partial "content"}}
<div class="page-500">
    <h1> 400 </h1>
    <h2> Your Request Resulted In An Error. </h2>
    <a class="btn btn-info d-flex justify-content-center" style ="max-width:10rem" href="/squads">Go Back Home</a>
</div>
{{/partial}}
<!--{{>layout.hbs}}-->